* {
	font-family: 'Roboto', sans-serif;
}

.content{
	color: #FFF;
	height: 100vh;
	width: 100%;
	z-index: 100;
	position: absolute;
	padding-top: 15vh;
	background-color: rgb(244, 243, 200);
}

.content img{
	height: auto;
	width: 100%;
	margin-bottom: 20%;
}

/*Loading*/

#loader {
	bottom: 0;
	height: 175px;
	left: 0;
	margin: auto;
	margin-top: 60%;
	margin-left: 65%;
	position: absolute;
	right: 0;
	top: 0;
	width: 175px;
}
#loader {
	bottom: 0;
	height: 175px;
	left: 0;
	margin: auto;
	position: absolute;
	margin-top: 60%;
	right: 0;
	top: 0;
	width: 175px;
}
#loader .dot {
	bottom: 0;
	height: 100%;
	left: 0;
	margin: auto;
	position: absolute;
	margin-top: 60%;
	right: 0;
	top: 0;
	width: 87.5px;
}
#loader .dot::before {
	border-radius: 100%;
	content: "";
	height: 87.5px;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	transform: scale(0);
	width: 87.5px;
}
#loader .dot:nth-child(7n+1) {
	transform: rotate(45deg);
}
#loader .dot:nth-child(7n+1)::before {
	animation: 0.8s linear 0.1s normal none infinite running load;
	background: rgb(240, 20, 36) none repeat scroll 0 0;
}
#loader .dot:nth-child(7n+2) {
	transform: rotate(90deg);
}
#loader .dot:nth-child(7n+2)::before {
	animation: 0.8s linear 0.2s normal none infinite running load;
	background: rgb(241, 35, 50) none repeat scroll 0 0;
}
#loader .dot:nth-child(7n+3) {
	transform: rotate(135deg);
}
#loader .dot:nth-child(7n+3)::before {
	animation: 0.8s linear 0.3s normal none infinite running load;
	background: #rgb(242, 50, 64) none repeat scroll 0 0;
}
#loader .dot:nth-child(7n+4) {
	transform: rotate(180deg);
}
#loader .dot:nth-child(7n+4)::before {
	animation: 0.8s linear 0.4s normal none infinite running load;
	background: rgb(243, 59, 72) none repeat scroll 0 0;
}
#loader .dot:nth-child(7n+5) {
	transform: rotate(225deg);
}
#loader .dot:nth-child(7n+5)::before {
	animation: 0.8s linear 0.5s normal none infinite running load;
	background: rgb(244, 82, 94) none repeat scroll 0 0;
}
#loader .dot:nth-child(7n+6) {
	transform: rotate(270deg);
}
#loader .dot:nth-child(7n+6)::before {
	animation: 0.8s linear 0.6s normal none infinite running load;
	background: rgb(245, 101, 111) none repeat scroll 0 0;
}
#loader .dot:nth-child(7n+7) {
	transform: rotate(315deg);
}
#loader .dot:nth-child(7n+7)::before {
	animation: 0.8s linear 0.7s normal none infinite running load;
	background: red none repeat scroll 0 0;
}
#loader .dot:nth-child(7n+8) {
	transform: rotate(360deg);
}
#loader .dot:nth-child(7n+8)::before {
	animation: 0.8s linear 0.8s normal none infinite running load;
	background: rgb(240, 20, 36) none repeat scroll 0 0;
}
#loader .lading {
	bottom: -40px;
	height: 20px;
	left: 0;
	position: absolute;
	right: 0;
	width: 180px;
}
@keyframes load {
	100% {
		opacity: 0;
		transform: scale(1);
	}
}
@keyframes load {
	100% {
		opacity: 0;
		transform: scale(1);
	}
	} /*Fin loading*/

	/*Selecciona Idioma*/
	.language{
		height: 100vh;
		width: 100%;
	}

	.language h2{
		margin-bottom: 8%;
		font-family: 'Englebert', sans-serif;
		color: #AA0000;
		text-align: center;
		font-size: 45px;
	}

	.language h3{
		margin-bottom: 8%;
		font-family: 'Englebert', sans-serif;
		color: #AA0000;
		text-align: center;
		font-size: 30px;
	}

	.language h4{
		text-align: center;
		margin-top: -5%;
		font-family: 'Englebert', sans-serif;
		color: #AA0000;
		font-size: 23px;
	}

	#btn1{
		margin-top: 15%;
		margin-left: 70%;
		font-size: 23px;
		font-family: 'Englebert', sans-serif;
	}

	@media only screen and (max-width : 767px) {
		.language img{
			margin-top: 40%;
			margin-bottom: 15%;
			width: 100%;
		}
	}

	@media only screen and (min-width : 768px) {
		.language{
			background-color: rgb(244, 243, 200);
			padding: 4%;
		}

		.language img{
			width: 100%;
		}

		.inf{
			margin-top: 5%;
		}

		.language h2{
			font-size: 60px;
		}

		.language p{
			margin-top: -5%;
			margin-bottom: 8%;
			text-align: center;
			font-family: 'Englebert', sans-serif;
			font-size: 20px;
		}
	}

	/*Login*/

	.row-chek{
		margin-left: 5%;
	}
	.omb_login .omb_authTitle {
		text-align: center;
		line-height: 300%;
	}
	
	.omb_login .omb_socialButtons a {
		color: white;
		opacity:0.9;
	}
	.omb_login .omb_socialButtons a:hover {
		color: white;
		opacity:1;
	}
	.omb_login .omb_socialButtons .omb_btn-facebook {background: #3b5998;}
	.omb_login .omb_socialButtons .omb_btn-twitter {background: #00aced;}
	.omb_login .omb_socialButtons .omb_btn-google {background: #c32f10;}


	.omb_login .omb_loginOr {
		position: relative;
		font-size: 1.5em;
		color: #aaa;
		margin-top: 1em;
		margin-bottom: 1em;
		padding-top: 0.5em;
		padding-bottom: 0.5em;
	}
	.omb_login .omb_loginOr .omb_hrOr {
		background-color: #cdcdcd;
		height: 1px;
		margin-top: 0px !important;
		margin-bottom: 0px !important;
	}
	.omb_login .omb_loginOr .omb_spanOr {
		display: block;
		position: absolute;
		left: 50%;
		top: -0.6em;
		margin-left: -1.5em;
		background-color: white;
		width: 3em;
		text-align: center;
	}			

	.omb_login .omb_loginForm .input-group.i {
		width: 2em;
	}
	.omb_login .omb_loginForm .help-block {
		color: red;
	}

	.login .btn-danger {
		margin-top: 5%;
	}
	
	@media only screen and (max-width : 767px) {
		.login img{
			margin-top: 10%;
			margin-bottom: 15%;
			width: 100%;
		}
		.login{
		padding: 2% 10%;
		}

		#btnback{
		margin-left: -5%;
		font-size: 23px;
		font-family: 'Englebert', sans-serif;
		}
	}

	@media only screen and (min-width : 768px) {
		.login{
			padding: 3%;
		}

		.login img{
			margin-top: 5%;
			width: 90%;
			margin-left: -5em;
		}

		.login h2{
			text-align: center;
			margin-top: 2em;
			margin-bottom: 8%;
			font-family: 'Englebert', sans-serif;
			color: #AA0000;
			text-align: center;
			font-size: 40px;
		}

		#btnback{
		margin-top: -25em;
		font-size: 20px;
		font-family: 'Englebert', sans-serif;
		}
	}


	/*Contenido Principal*/
	.navbar-custom {
		background-color: #CC0000;
		border-color: #AA0000;
		border-radius: 0;
	}

	.navbar-custom .navbar-brand,
	.navbar-custom .navbar-brand:hover,
	.navbar-custom .navbar-brand:focus {
		color: #FFF;
	}

	.navbar-custom .navbar-nav > li > a {
		color: #FFF;
	}

	.navbar-custom .navbar-nav > li > a:hover,
	.navbar-custom .navbar-nav > li > a:focus {
		background-color: #AA0000;
	}

	.navbar-custom .navbar-nav > .active > a,
	.navbar-custom .navbar-nav > .active > a:hover,
	.navbar-custom .navbar-nav > .active > a:focus {
		color: #FFF;
		background-color: #AA0000;
	}

	.navbar-custom .navbar-text {
		color: #FFF;
	}

	.navbar-custom .navbar-toggle {
		border-color: #AA0000;
	}

	.navbar-custom .navbar-toggle:hover,
	.navbar-custom .navbar-toggle:focus {
		background-color: #AA0000;
	}

	.navbar-custom .navbar-toggle .icon-bar {
		background-color: #FFF;
	}

	.brand{
		width: 50%;
		margin-top: 1%;
	}

	.act{
		font-size: 23px;
		font-family: 'Englebert', sans-serif;
		color: #AA0000;
	}


	@media only screen and (max-width : 767px) {
		.principal .timeline img{
			width: 50rem;
			height: 20rem;
			object-fit: cover;
			margin-bottom: 3%;
		}
	}

	@media only screen and (min-width : 768px) {
		.principal .timeline img{
			width: 80rem;
			height: 50rem;
			object-fit: cover;
			margin-bottom: 3%;
		}

		.timeline-body {
			max-width: 75rem;
			height: auto;
		}

		.timeline-footer {
			max-width: 75rem;
		}
	}

	/*Select tipos de comida*/
	#mexico{
		text-align: justify;
	}

	#japonesa{
		text-align: justify;
	}

	#thai{
		text-align: justify;
	}

	.timeline{
		padding: 20px;
	}

	.segperfil{
		width: 70%;
		max-width: 5em;
	}

	.seguidos{
		margin-top: 5%;
	}

	.img-receta{
		margin-top: 0.4em;
		width: 4em;
		height: 4em;
	}

	.btned{
		margin-top: 1em;
	}

	#recetasModal h4{
	margin-bottom: 0.1em;
}

#recetasModal img:last-child{
	margin-bottom: 1em;
}

	.fa-cutlery{
		margin-right: 1em;
	}

  @media only screen and (max-width : 767px){
  /* PERFIL */
  .profile img{
    width: 30%;
    margin-left: 35%;
    margin-top: 5%;
  }

  .profile h3{
    margin-left: 30%;
    margin-top: 5%;
  }

  table{
    width: 100%;
    margin-top: 5%;
  }

  thead th, tbody td{
    text-align: center;
    width: 25%;
  }

  #photo1 img, #photo2 img, #photo3 img{
    width: 120%;
    height: 120%;
    margin-left: 60%;
  }

  #secondPhoto, #thirdPhoto{
    margin-top: 5%;
  }
}


  @media only screen and (min-width : 768px){

  .profile img{
    width: 20%;
    margin-left: 40%;
    margin-top: 5%;
  }

  .profile h3{
    margin-left: 43%;
    font-size: 30px;
    font-weight: 600;
    font-family: 'Englebert', sans-serif;
    color: #AA0000;
  }

  table{
    width: 100%;
    margin-top: 5%;
  }

  thead th, tbody td{
    text-align: center;
    width: 25%;
    font-size: 25px;
    font-family: 'Englebert', sans-serif;
    color: #AA0000;
  }

  #photo1 img, #photo2 img, #photo3 img{
    width: 120%;
    height: 120%;
    margin-left: 40%;
    margin-right: 5%;
 }

  #secondPhoto, #thirdPhoto{
    margin-top: 5%;
  }

  }
/*FIN DEL PERFIL*/